.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--purple-dark) !important;
}

.login-form{
    width: 400px;
    height: 550px;
    border-radius: 8px;
    background: var(--purple-light);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 10px rgba(0,0,0,0.08);
}

.login-form-content{
    width: 80%;
    height: 85%;
}

.login-form-content h3{
    color: var(--white-label-text);
    font-size: 1.3rem;
    font-weight: bold;
}

.login-form-size{
    width: 100%;
    height: 90%;
}

.login-input-container{
    width: 100%;
    height: 20%;
    margin-top: 30px;
}

.login-input-container label{
    font-weight: bold;
    color: var(--white-label-text);
    
}

.login-input-container input{
    margin-top: 10px;
    background: var(--purple-input-color);
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    outline: 0;
    color: var(--white-label-text);
}

.login-form-button{
    width: 100% !important;
    margin-top: 20px !important;
}

.container-checkbox{
    margin-top: 10px !important;
}

.container-checkbox p{
    text-align: justify;
    transform: translate(-4px, 8px);
    color: var(--white-label-text);
    font-weight: bold;
    opacity: .7;
}

.remember-checkbox{
    float: left;
}

.container-forgot-password{
    height: 10% !important;
    margin-top: -25px !important;
    margin-bottom: 20px;
}

.container-forgot-password a{
    text-decoration: none;
    color: var(--white-label-text);
    opacity: .5;
    transition: .5s;
}

.container-forgot-password a:hover{
    color: var(--white-label-text);
    text-decoration: underline;
}