.custom-button{
    background: var(--black-background);
    color: var(--white-label-text);
    padding: 12px;
    width: 350px;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:hover{
    background: var(--black-background-hover);
    transition: .5s;
}

.loading-icon{
    width: 30px;
    height: 30px;
    border: 4px solid var(--white-label-text);
    border-left: 4px solid rgba(255,255,255,0.2);
    border-radius: 100%;
    animation: RotateLogin .6s infinite;
    animation-timing-function: linear;
}

@keyframes RotateLogin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}