.custom-button{
    background: var(--black-background);
    color: var(--white-label-text);
    padding: 12px;
    width: 350px;
    border-radius: 5px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:hover{
    background: var(--black-background-hover);
    transition: .5s;
}