*{
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --white-label-text: #FFFFFF;
  --black-background: #1F2327;
  --black-component: #2E3337;
  --black-input-color: #4B5257;
  --black-background-hover: #101214;
  --card-normal-text: #3E5EDE;
  --card-danger-text: #B31212;
  --card-success-text: #15A362;
  --border-color: rgba(255,255,255, .1); 
}

body {
  font-family: 'Ubuntu' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.loading-icon{
  width: 30px;
  height: 30px;
  border: 4px solid rgba(255,255,255,0.7);
  border-top: 4px solid rgba(255,255,255,0.4);
  border-radius: 100%;
  animation: RotateLogin .6s infinite;
  animation-timing-function: linear;
}

@keyframes RotateLogin {
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}